# Jekyll and Scss
_site/
/sass_cache/
Gemfile.lock

#############
## Windows 
#############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Linux
#############
.*
!.gitignore
!.gitattributes
*~
