---
layout: list
title: Tags 
description: 'All Posts from Blog@VoltaicIdeas grouped by tag.'
permalink: /tags/
---
<div class="row" id="top">
    <div class="small-12 columns text-center">
        {% for tag in site.tags %}
        <a class="tag" title="Posts tagged {{ tag[0] }}" href="#{{ tag[0] | cgi_escape }}">{{ tag[0] }}<span>{{ tag[1].size }}</span></a>
        {% endfor %}
    </div>
</div>
{% for tag in site.tags %}
<div class="row">
    <div class="small-12 columns">
        <h3 id="{{ tag[0] | cgi_escape }}">{{ tag[0] }}</h3>
        <ul>
            {% for post in tag[1] %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="text-center">
            <a href="#top" class="button tiny radius secondary">Back to Top&nbsp;<i class="icon-up-big"></i></a>
        </div>
    </div>
</div>
{% endfor %}
