<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title != nil %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
    {% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

    <!-- Style Sheets -->
    <link rel="stylesheet" href="{{ site.url }}/assets/dist/app.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css' >

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" >

  </head>
  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <!-- Menu -->
      <nav id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="{{ site.url }}/">{{ site.title | uppercase }}</a>
          <ul class="pure-menu-list">
            {% for item in site.data.menu %}
            <li class="pure-menu-item"><a class="pure-menu-link" href="
            {% if item.link contains 'http' %}
            {{ item.link }}
            {% else %}
            {{ site.url }}{{ item.link }}
            {% endif %}
            ">{{ item.name }}</a></li>
            {% endfor %}
            {% for item in site.data.social %}
            <li class="pure-menu-item {% if forloop.first %}menu-item-divided{% endif %}">
              <a class="pure-menu-link" href="{{ item.link }}">{{ item.name | capitalize }}</a>
            </li>
            {% else %}
            {% endfor %}
          </ul>
        </div>
      </nav>

      <!-- main area closed in footer -->
      <section id="main">
        <header id="mainHeader">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2>{{ page.subtitle }}</h2>
          {% endif %}
        </header>
