<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title != nil %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
    {% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

    <!-- Style Sheets -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/app.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css' >
    <meta http-equiv="cleartype" content="on">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" >

    <!-- Modernizr -->
    <script src="{{ site.url }}/assets/js/modernizr.js"></script>
    
    <!-- Capture a header image -->
    {% if page.feature or site.feature %}
        {% capture feature %}{% if page.feature %}{{ page.feature }}{% else %}{{ site.feature }}{% endif %}{% endcapture %}
        {% unless feature.url contains 'http://' or feature.url contains 'https://' %}{% capture feature %}{{ site.url }}/images/{{ feature.url }}{% endcapture %}{% endunless %}
    {% endif %}
</head>
<body>
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ site.url }}/">{{ site.title | uppercase }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="{{ site.url }}/About/">About</a></li>
        </ul>
        
        <!-- Right Nav Section -->
        <ul class="right">
            {% for social in site.data.social %}
            <li class="social">
                <a href="{{ social.link }}">
                    <i class="large icon-{{ social.name }}"></i>
                    <span>{{ social.name | capitalize}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
      </section>
    </nav>
</div>