.icon-bookmark:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e80b'; } /* '' */
.icon-up-big:before { content: '\e808'; } /* '' */
.icon-bitbucket:before { content: '\e807'; } /* '' */
.icon-css3:before { content: '\e806'; } /* '' */
.icon-bookmark-empty:before { content: '\e809'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-html5:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */