.icon-mail:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-link-ext:before { content: '\e80b'; } /* '' */
.icon-bookmark:before { content: '\e80c'; } /* '' */
.icon-bookmark-empty:before { content: '\e80d'; } /* '' */
.icon-code:before { content: '\e80e'; } /* '' */
.icon-attention-alt:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-attention-circled:before { content: '\e80f'; } /* '' */
.icon-mic:before { content: '\e815'; } /* '' */
.icon-videocam:before { content: '\e812'; } /* '' */
.icon-tasks:before { content: '\e816'; } /* '' */
.icon-dollar:before { content: '\e808'; } /* '' */
.icon-spinner:before { content: '\e807'; } /* '' */
.icon-terminal:before { content: '\e809'; } /* '' */
.icon-bitbucket:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-fork:before { content: '\e817'; } /* '' */