.highlight{
    font-size: rem-calc(14px);
    padding: 0;
    font-family: 'Source Code Pro', 'Consolas', Monaco, monospace;
    overflow: auto;
    margin-bottom: rem-calc(16px);
    pre{
        tab-size: 4;
        white-space: pre;
        font-family: inherit;
        background-color: lighten($secondary-color, 5%);
        border-radius: 0;
        padding: rem-calc(3px);
        padding-left: rem-calc(5px);
        line-height: 23px;
        overflow-x: auto;
        word-break: inherit;
        code {
            &.text {
                color: #555;
            }
        }
    }
}
