@charset "UTF-8";

/* Pure.css imports */
@import "purecss/build/base";
@import "purecss/build/tables";
@import "purecss/build/menus-core";

/* Variables */
@import "_settings";

/* SideMenu Layout */
@import "_sideMenu";

/* Custom Styles */
#mainFooter {
  text-align: right;
  margin-top: 20px;
  padding: 1.5em;
  background-color: color(var(--globalBgColor) l(-3%));
  color: color(var(--globalBgColor) contrast(10%));

  a {
    color: color(var(--primaryColor) s(-50%));
  }

  p {
    margin: 0;
  }
}

a {
  color: var(--primaryColor);

  &.iconLink {
    padding-right: 7px;
    padding-left: 7px;
    text-decoration: none;
  }

  &:hover, &:focus {
    color: color(var(--primaryColor) l(+10%));
  }

  &:visited {
    color: var(--primaryColor);
  }
}
.social a{
  i { display: none; }
}

.imageHeader {
  padding: 0;

  img {
    max-width: 100%;
    display: block;
  }

  .imageCredit {
    text-align: right;
    font-size: 0.9em;
    background-color: color(var(--globalBgColor) contrast(100%));
    color: var(--globalBgColor);
    padding: 3px 7px;
    a {
      color: #fff;
    }
  }
}

.content {
  a {
    text-decoration: underline;
  }
}

.tag {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px 7px;
  font-size: 0.6875rem;
  color: color(var(--primaryColor) s(-20%));
  background-color: var(--secondaryColor);
  border-radius: var(--globalRadius);
  &:hover {
    background-color: color(var(--secondaryColor) l(-10%));
  }
  span {
    border-radius: var(--globalRadius);
    display: inline-block;
    margin-left: 5px;
    background-color: color(var(--secondaryColor) l(+5%));
    padding: 2px 5px;
  }
}

article {
  header {
    h5 {
      color: color(var(--globalBgColor) contrast(0%));
    }
  }

  .content {
    img {
      max-height: 800px;
      max-width: 800px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    table {
      margin-right: auto;
      margin-left: auto;
    }
  }

  footer {
    color: color(var(--secondaryColor) l(-20%));
    a {
      color: color(var(--primaryColor) s(-50%));
    }
    margin-bottom: 7px;

  }

  &.excerpt {
    border-bottom: 1px solid var(--secondaryColor);
    margin-bottom: 7px;
    padding-bottom: 7px;

    footer {
      margin-bottom: 0;
    }
  }
}

/* Styles for code blocks and inline code */
@import "_pygments";
@import "_pygments_friendly";

@import "_icons"; /* TODO Create New Ones? */
