{% include header.html %}
<div id="mainContent">
{% if page.feature %}
  <div class="imageHeader">
    <img src="{{ page.feature.url }}">
    {% if page.feature.credit %}
    <div class="imageCredit">
      Image Source: <a href="{{ page.feature.creditLink }}">{{ page.feature.credit }}</a>
    </div>
    {% endif %}
  </div>
{% endif %}
  <article>
    <header>
      <h5>
        <em>By</em> {% if page.author != nil %}{{ page.author }} - {% endif %}{{ site.owner.name }}
        - Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        {% if page.modified %}
          (<em>Revised:</em>
          <time datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date_to_string }}</time>)
        {% endif %}
         <a class="iconLink" href="{{ site.url }}{{ page.url }}"><i class="large icon-bookmark"></i></a>
      </h5>
    </header>
    <div class="content">
      {{ content }}
    </div>
    {% if page.links %}
    <footer>
      {% for link in page.links %}
      <!-- TODO -->
      {% endfor %}
    </footer>
    {% endif %}
  </article>
</div>
{% include footer.html %}
